<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к базе данных -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/warehouse</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1111</property>

        <!-- Настройки Hibernate -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">false</property>

        <!-- Маппинг классов -->
        <mapping class="com.warehouse.entity.Delivery"/>
        <mapping class="com.warehouse.entity.DeliveryProductMap"/>
        <mapping class="com.warehouse.entity.OrderProductMap"/>
        <mapping class="com.warehouse.entity.OrderStatus"/>
        <mapping class="com.warehouse.entity.Product"/>
        <mapping class="com.warehouse.entity.ProductOrder"/>
        <mapping class="com.warehouse.entity.ProductType"/>
        <mapping class="com.warehouse.entity.Provider"/>
        <mapping class="com.warehouse.entity.Role"/>
        <mapping class="com.warehouse.entity.Storage"/>
        <mapping class="com.warehouse.entity.User"/>
    </session-factory>
</hibernate-configuration>