<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="/js/search.js"></script>
    <link rel="stylesheet" href="/styles/commonStyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Склад</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h2>Склад</h2>

    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4" th:if="${errors}">
            <p style="color: red" th:each="error : ${errors}" th:text=" ${error.defaultMessage}"> Error message</p>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#storageProducts">Товары в наличии</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#shippedProducts">Отправленные товары</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#discardedProducts">Списанные товары</a>
        </li>
        <li>
            <a id="openModalBtn" style="width: 200px" th:href="@{/storage/generateReport}" class="btn btn-success">Сгенерировать
                отчет</a>
        </li>
        <li>
            <div id="myModal" class="modal">
                <div th:align="center" class="modal-content">
                    <h3 style="color: limegreen;margin-top: 15px;margin-bottom: 15px">Отчет сгенерирован!</h3>
                </div>
            </div>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="storageProducts">
            <div class="table-container">
                <table border="1" align="center">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Остаток</th>
                        <th>
                            <div>
                                <input type="text" id="elastic" placeholder="Поиск">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="elastic">
                    <tr th:each="storage, stat : ${storages}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${storage.product.code}"></td>
                        <td><a th:href="@{/product/editProduct/(id=${storage.product.id})}"
                               th:text="${storage.product.name}"></a></td>
                        <td th:text="${storage.product.productType.category}"></td>
                        <td th:text="${storage.quantity}"></td>
                        <td>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Списать
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form th:action="@{/storage/discard}" method="post">
                                            <input type="hidden" name="storageId" th:value="${storage.id}">
                                            <input type="number" name="quantity" placeholder="Количество" required>
                                            <input type="submit" value="Списать товар">
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="shippedProducts">
            <div class="table-container">
                <table border="1" align="center">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Количество</th>
                        <th>
                            <div>
                                <input type="text" id="elastic1" placeholder="Поиск">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="elastic1">
                    <tr th:each="shoppedProduct, stat : ${shippedProducts}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${shoppedProduct.product.code}"></td>
                        <td><a th:href="@{/product/editProduct/(id=${shoppedProduct.product.id})}"
                               th:text="${shoppedProduct.product.name}"></a></td>
                        <td th:text="${shoppedProduct.product.productType.category}"></td>
                        <td th:text="${shoppedProduct.quantity}"></td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="discardedProducts">
            <div class="table-container">
                <table border="1" align="center">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Код</th>
                        <th>Наименование</th>
                        <th>Категория</th>
                        <th>Количество</th>
                        <th>
                            <div>
                                <input type="text" id="elastic2" placeholder="Поиск">
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="elastic2">
                    <tr th:each="discardedProduct, stat : ${discardedProducts}">
                        <td th:text="${stat.index + 1}"></td>
                        <td th:text="${discardedProduct.product.code}"></td>
                        <td><a th:href="@{/product/editProduct/(id=${discardedProduct.product.id})}"
                               th:text="${discardedProduct.product.name}"></a></td>
                        <td th:text="${discardedProduct.product.productType.category}"></td>
                        <td th:text="${discardedProduct.quantity}"></td>
                        <td>
                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Опции
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form th:action="@{/storage/return}" method="post">
                                            <input type="hidden" name="storageId" th:value="${discardedProduct.id}">
                                            <input type="number" name="quantity" placeholder="Количество" required>
                                            <input type="submit" value="Вернуть на склад">
                                        </form>
                                    </li>
                                    <hr>
                                    <li>
                                        <a th:href="@{/storage/deleteDiscarded(id=${discardedProduct.id})}"
                                           class="btn btn-danger">Забыть</a>
                                    </li>
                                </ul>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    // Открываем модальное окно при клике на кнопку
    document.getElementById("openModalBtn").addEventListener("click", function() {
        document.getElementById("myModal").style.display = "block";
    });

    // Закрываем модальное окно, если пользователь кликнул вне него
    window.addEventListener("click", function(event) {
        var modal = document.getElementById("myModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    });

</script>

</body>
</html>